<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <display-name>PrimefacesArquitetura</display-name>

	<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>index.jsf</welcome-file>
	</welcome-file-list>
	
	<!-- JSF mapping -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Map these files with JSF -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	
	<!-- ************************************************************ -->
	<!-- ************* PARAMETROS DE CONFIGURACAO DO JSF ************ -->
	<!-- ************************************************************ -->
	<!-- REMOVE COMENTARIOS DO JSF -->
	<context-param>
		<description>Se for true, o ambiente de execução não permitira que os comentarios XML 
			na pagina do Facelets sejam enviados para o cliente.</description>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<!-- ************************************************************ -->
	<!-- ******************* CLUSTER COM GLASSFISH ****************** -->
	<!-- ************************************************************ -->
	<!-- Habilita Suporte ao Cluster com Glassfish-->
	<distributable />
	
	<!-- ************************************************************ -->
	<!-- ********************** SPRING FRAMEWORK ******************** -->
	<!-- ************************************************************ -->
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
  		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
 	</listener>
 	
 	
 	<context-param>		
 		<param-name>contextConfigLocation</param-name>		
 		<param-value>/WEB-INF/spring/*-config.xml</param-value>	
 	</context-param>
	
</web-app>